/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --blue: #1f3e5a;
    --grey100: #e7e7e7;
    --grey550: #878d92;
    --grey600: #4c5862;
    --grey950: #24242c;
    --purple800: #52526f;
    --purple900: #3e4062;
    --purple950: #2d2e40;
    --red50: #f9f6f6;
    --red400: #ff7b86;
    --red500: #ff505c;
    --white: #fff;
    --gradient1: linear-gradient(#2d2e40, #3f4164);
    --gradient2: linear-gradient(#ff8f71, #ff3e55);
}

body {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
}

/* Main Styles */

header {
    background: url(./images/bg-pattern-intro-mobile.svg) -23rem -18rem / 90rem
            no-repeat,
        var(--gradient2);
    border-bottom-left-radius: 8rem;
    color: var(--white);
    height: 36.7rem;
    margin-block-end: 6rem;
    padding: 3.5rem 2rem;
    position: relative;
}

@media screen and (min-width: 51.25em) {
    header {
        padding: 3.5rem;
    }
}

.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 5rem;
    z-index: 2;
}

.main-header-menu-btn {
    cursor: pointer;
}

@media screen and (min-width: 90em) {
    .main-header-menu-btn {
        display: none;
    }
}

/* Desktop Nav */

.logo-desktop-nav-container {
    align-items: center;
    display: flex;
    gap: 4rem;
}

.desktop-nav {
    align-items: center;
    display: none;
    gap: 2rem;
}

@media screen and (min-width: 90em) {
    .desktop-nav {
        display: flex;
    }
}

.desktop-nav-link {
    align-items: center;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 1rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.desktop-nav-link:hover {
    color: var(--purple900);
}

.desktop-login-signup-container {
    align-items: center;
    display: none;
    gap: 2rem;
}

@media screen and (min-width: 90em) {
    .desktop-login-signup-container {
        display: flex;
    }
}

.desktop-sign-up-link {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.desktop-sign-up-link:hover {
    color: var(--purple900);
}

.desktop-signup-btn {
    color: var(--red400);
    cursor: pointer;
    border: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.desktop-signup-btn:hover {
    background-color: var(--red400);
    color: var(--white);
}

.desktop-drop-menu {
    background-color: var(--white);
    border-radius: 0.5rem;
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    position: absolute;
    width: 10rem;
}

.desktop-drop-menu-unhide {
    display: flex;
}

.desktop-drop-link {
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.desktop-drop-link:hover {
    color: var(--red500);
}

/* End */

.hero-container {
    text-align: center;
    z-index: 2;
}

h1 {
    font-size: 2.7rem;
    font-weight: 600;
    margin-block-end: 1.5rem;
}

.hero-text {
    font-size: 1.2rem;
    font-weight: 400;
    margin-block-end: 2.5rem;
}

.hero-btn-container {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    padding: 0.7rem 1.5rem;
}

.start-btn {
    border: 0.15rem solid var(--white);
    color: var(--red500);
    cursor: pointer;
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.start-btn:hover {
    border-color: var(--red400);
    background-color: var(--red400);
    color: var(--white);
}

.learn-btn {
    background-color: transparent;
    border: 0.15rem solid var(--white);
    color: var(--white);
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.learn-btn:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--red400);
}

/* Mobile Nav */

.mobile-menu {
    background-color: var(--white);
    border-radius: 1rem;
    left: 50%;
    opacity: 0;
    padding: 2rem 1.5rem;
    position: absolute;
    top: 7rem;
    transform: translateX(-50%);
    transition: opacity 0.1s ease-in-out, z-index 0.1s ease-in-out;
    width: 90%;
    z-index: -1;
}

.mobile-menu-unhide {
    opacity: 1;
    z-index: 1;
}

.mobile-menu-nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mobile-nav-link {
    align-items: center;
    color: var(--black);
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    gap: 1rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.mobile-nav-link:hover {
    color: var(--red500);
}

.arrow-rotate {
    transform: rotate(180deg);
}

.mobile-nav-seperator {
    color: var(--grey550);
    height: 0.1rem;
    width: 90%;
}

.mobile-nav-signup-login-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width: 51.25em) {
    .mobile-nav-signup-login-container {
        flex-direction: row;
    }
}

.mobile-nav-btn {
    border: none;
    background: var(--gradient2);
    color: var(--white);
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
    width: 8rem;
}

.mobile-nav-btn:hover {
    opacity: 1;
}

.drop-menu {
    align-items: center;
    background-color: var(--grey100);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    display: none;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    transition: display 0.1s ease-in-out;
    width: 100%;
}

.drop-menu-unhide {
    display: flex;
}

.drop-menu-link {
    color: var(--black);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.drop-menu-link:hover {
    color: var(--red500);
}

/* First Article */

.first-article {
    margin-block-end: 14rem;
}

.first-article-content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    overflow-x: hidden;
    padding: 0 2rem;
}

@media screen and (min-width: 90em) {
    .first-article-content-container {
        flex-direction: row;
        padding: 0 0 0 4rem;
    }
}

.first-article-text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.first-article-img-mobile {
    height: auto;
    width: 100%;
}

.first-article-img-desktop {
    display: none;
}

@media screen and (min-width: 90em) {
    .first-article-img-mobile {
        display: none;
    }

    .first-article-img-desktop {
        display: block;
        transform: translateX(18rem);
    }
}

.first-article-header,
.first-article-subheader {
    color: var(--purple900);
}

.first-article-header {
    font-size: 2rem;
    margin-block-end: 3.5rem;
    text-align: center;
}

.first-article-subheader {
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
}

.first-article-text {
    color: var(--grey600);
    font-size: 1.2rem;
    line-height: 150%;
    text-align: center;
}

@media screen and (min-width: 90em) {
    .first-article-text-container {
        width: 70%;
        grid-column: 1;
        grid-row: 1;
    }

    .first-article-subheader,
    .first-article-text {
        text-align: left;
    }
}

/* Second Article */

.second-article {
    position: relative;
}

.second-article-content-container {
    background-color: var(--purple900);
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    color: var(--white);
    overflow: hidden;
    padding: 18rem 1rem 10rem 1rem;
    position: relative;
}

.second-article-circles {
    filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(7447%)
        hue-rotate(24deg) brightness(112%) contrast(92%);
    height: auto;
    left: 50%;
    opacity: 0.3;
    position: absolute;
    top: -16rem;
    transform: translateX(-50%);
    width: 40rem;
    z-index: 0;
}

.second-article-img-mobile {
    height: auto;
    left: 50%;
    position: absolute;
    top: -10rem;
    transform: translateX(-50%);
    width: 24rem;
    z-index: 2;
}

.second-article-text-container {
    text-align: center;
    z-index: 3;
}

.second-article-header {
    font-size: 1.8rem;
    margin-block-end: 2rem;
}

.second-article-text {
    font-size: 1.1rem;
    line-height: 200%;
}
